<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/">BeYourBest</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/trainers">Trainers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/equipment">Equipment</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://localhost:3000/classes">View Classes</a>
                    <a class="dropdown-item" href="http://localhost:3000/signup">Enroll</a>
                </div>
            </li>
        </ul>
    </div>
</nav>  
<div class="container"> 
<h1 class="display-4 text-center">Enrollment Page</h1>
<form method="POST" action="/signup">
<div class="form-group">
    <label for="member">Class: </label>
    <select class="form-control" name="Class">
        {{#if class_list}}
        {{#each class_list}}
        <option name = "memberId" value="{{id}}">{{name}}</option>
        {{/each}}
        {{/if}}
    </select><br>
</div>
<div class="form-group">
    <label for="member">Member Name: </label>
    <select class="form-control" name="Member">
        {{#if enroll_list}}
        {{#each enroll_list}}
        <option name = "memberId" value="{{id}}">{{first}} {{last}}</option>
        {{/each}}
        {{/if}}
    </select><br>
</div>
<div class="form-group">
    <input class="form-control" type="submit" value="Enroll">
</div>
</form>

<footer class="py-5 bg-dark">
  <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; BeYourBest Fitness 2020</p>
  </div>
</footer>
<script src="script.js"></script>
