<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/">BeYourBest</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/trainers">Trainers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:3000/equipment">Equipment</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://localhost:3000/classes">View Classes</a>
                    <a class="dropdown-item" href="http://localhost:3000/signup">Enroll</a>
                </div>
            </li>
        </ul>
    </div>
</nav>   
<div class="container">
<h1 class="display-4 text-center">Update Inspection for {{equipment.equipmentName}}</h1>
<form method = "POST" action = "/update-inspection">
  <input type = "hidden" name = "equipmentId" value = {{equipmentId}}><br>
  <div class="form-group">
    <label for="instructor">Inspector:</label>
    <select class="form-control" name="instructor" id="instructor">
      {{#if trainer_list}}
      {{#each trainer_list}}
      <option value ="{{id}}">{{first}} {{last}}</option>
      {{/each}}
      {{/if}}
    </select><br>
  </div>
  <div class="form-group">
    <label for="date">Date Inspected:</label>
    <input class="form-control" type="date" name="date" value={{equipment.inspectionDate}}><br>
  </div>
  <div class="form-group">
  <label for="pass">Passed?</label>
  <select class="form-control" name="pass" id="pass">
          <option value="1">Yes</option>
          <option value="0">No</option>
  </select><br>
  </div>
  <div class="form-group">
  <input class="form-control" type="submit" value="Submit Change">
  </div>
</form>
<footer class="py-5 bg-dark">
  <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; BeYourBest Fitness 2020</p>
  </div>
</footer>
<!-- <script src="script.js"></script> -->
<script>
  document.addEventListener('DOMContentLoaded', select({{equipment.inspectedBy}}, {{equipment.passedInspection}}));
  function select(id1, id2) {
    var el = document.getElementById("instructor");
    el.value = id1;
    var el = document.getElementById("pass");
    el.value = id2;
  }
</script>